* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
  font-size: 15px;
  font-weight: normal;
  background-color: #dbdbdb;
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.personal-Info > div {
  margin-bottom: 20px;
}
.profile-info > div {
  margin-bottom: 10px;
}
.personal-info > div {
  margin-bottom: 10px;
}
.contact-info > div {
  margin-top: 10px;
  margin-bottom: 10px;
}
.icon {
  width: 20px;
  margin-right: 20px;
}
.icon-heading {
  width: 34px;
  height: 34px;
}
.portfolio-wrapper {
  width: 100%;
  height: 1200px;
  display: grid;
  margin: 50px;
  margin-bottom: 100px;
  grid-template-columns: 35% 65%;
}
.portfolio-left {
  background-color: rgb(61, 71, 77);
  color: white;
  padding: 20px;
}
.portfolio-right {
  background-color: white;
  color: black;
  padding: 20px;
}
.profile-pic {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}
.programming-skills {
  margin-top: 20px;
  margin-bottom: 20px;
}
.programming-skills > div {
  margin-bottom: 15px;
}
.programming-skills div > h2 {
  margin-bottom: 20px;
}
.icon-skills {
  width: 34px;
}
.skill-bar {
  width: 100%;
  height: 15px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.bar {
  height: 10px;
  margin: 2px;
  border-radius: 10px;
}
.html-bar {
  width: 80%;
  background: orange;
}
.css-bar {
  width: 80%;
  background: rgb(116, 116, 245);
}
.js-bar {
  width: 20%;
  background: yellow;
}
.sass-bar {
  width: 50%;
  background: pink;
}
.tailwind-bar {
  width: 20%;
  background: skyblue;
}
.react-bar {
  width: 20%;
  background: rgb(0, 204, 255);
}
.education-container > div {
  margin-left: 20px;
  margin-bottom: 10px;
}
.education-container > div > h2 {
  margin-bottom: 5px;
}
.personal-skills > div > h4 {
  margin-bottom: 20px;
}
.personal-skills > div > div {
  margin-bottom: 10px;
}
.hobby-section {
  margin-top: 20px;
}
.hobby-section > div {
  margin-top: 10px;
}
.hobby-section > div > div {
  margin-top: 8px;
}

/*  */
@media (max-width: 768px) {
  .contact-info > div {
    display: flex;
    align-items: center;
    font-size: 13px;
  }
  .contact-info > div > .icon {
    margin-right: 5px;
  }
}
/*  */

@media (max-width: 465px) {
  body {
    margin: 0;
    font-size: 12px;
  }
  h2 {
    font-size: 18px;
  }
  h4 {
    font-size: 14px;
  }
  .portfolio-wrapper {
    width: 100%;
    margin: 0;
  }
  .portfolio-left {
    padding: 10px;
  }
  .portfolio-right {
    padding: 10px;
  }
  .icon {
    margin-right: 5px;
  }
  .contact-info > div {
    display: flex;
    align-items: center;
    font-size: 10px;
  }
  .contact-info > div > .icon {
    margin-right: 3px;
  }
  .education-container > div > div {
    display: flex;
    align-items: center;
  }
}
